<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="menu content">
            <form action="/menu" method="POST">
                <b>Menu: </b></br> <hr>
            <% if (theMenu.length > 0) { %>
                <% theMenu.forEach(pizza => { %>
                    <b><%= pizza.name %></b>
                    <a href="/menu/<%=pizza._id%>/edit?name=<%=pizza.name%>">edit</a>
                    <a href="/menu/<%=pizza._id%>/delete?name=<%=pizza.name%>">delete</a>
                    <a href="/menu/<%=pizza._id%>/replace?name=<%=pizza.name%>">replace</a></br> 
                    <% }) %>
            <% } %>
            <hr>
            </br><b>Add Pizza:</b></br>
            <label> Name:
                <input type="text" id="name" name="name" value="<%= locals.name %>" required>
            </label>
            </br>
            <button>Add</button>
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>